
body {
    background-color: lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



header {
    background-color: crimson;
}

.li-menus {
    background-color: black;
    padding: 2%;
    display: inline-block;
    color: aquamarine;
}